.prod{

    display: flex;

    justify-content:left;

    /* float: right; */

    border: 2px solid black;

    margin: 5px;

    padding: 5px;

    border-width: 50%;

   

}

img{

    width: 25%;

    height: 20%;

}